* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("https://img.freepik.com/free-vector/digital-mobile-smartphone-technology-background-with-circuit-diagram_1017-21004.jpg?semt=ais_hybrid&w=740");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -150px;
  overflow-x: hidden;
}

.container {
  position: absolute;
  left: 64%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 65%;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px 15px 15px 15px;
  z-index: 1;

}

.head {
  width: 100%;
  transform: translate(20px, -40px);
  font-style: italic;


}

.registration,
.login {
  width: 40%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}

form {
  width: 100%;
  height: 100%;
}



input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  background-color: #00000030;
}

::placeholder {
  color: blue;
  font-weight: bolder;
  font-style: italic;
}

h1 {
  margin-bottom: 30px;
}

.back1 {
  background-color: #1414ced6;
  color: white;
  width: 305px;
  height: 30px;
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-color: transparent;
  transform: translateY(43px);
  font-size: 20px;
  font-weight: bolder;
}

.back2 {
  background-color: #1414ced6;
  color: white;
  width: 305px;
  height: 30px;
  border-radius: 15px 15px 15px 15px;
  border-style: solid;
  border-color: transparent;
  transform: translateY(90px);
  font-size: 20px;
  font-weight: bolder;
}

a:hover {
  color: green;
}

.main {
  position: absolute;
  left: 64%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  width: 65%;
  height: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;

}

.frontregist {

  width: 50%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4354ba;
  transition: transform 1s ease;
}

.frontregist {
  border-radius: 15px 120px 120px 15px;
  margin-right: 5px;

}

.frontlogin {
  border-radius: 120px 15px 15px 120px;
}



.hide {
  transform: translateX(10px);
  transform: translate(0%, -50%);
  transition-duration: 1s;

  pointer-events: none;



}


.front1,
.front2 {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bolder;
}